doctype html
html(lang='en')
    head
        link(rel="stylesheet" href="/css/mystyles.css")
        link(rel="stylesheet" href="/css/EchoLogo.css")
        script(type='text/javascript' src='/css/navMenu.js')
        script(type='text/javascript' src='frontend-js/LoginValidation.js')
        title Login
    body(class="has-navbar-fixed-top")
        nav(class="navbar is-fixed-top is-primary" role="navigation" aria-label="main navigation")
            div(class="navbar-brand")
                a(class="navbar-item" href="#")
                    label(style="font-family:'Monoton';") ECHO

                a(role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navMenu")
                    span(aria-hidden="true")
                    span(aria-hidden="true")
                    span(aria-hidden="true")

            div(class="navbar-menu" id="navMenu")
                div(class="navbar-start")
                    a(class="navbar-item" href="#") Home

                div(class="navbar-end")
                    div(class="navbar-item")
                        div(class="buttons")
                            a(class="button is-primary" href="/SignUp")
                                strong Sign up

        div(id="container")
            p
                a(href="/Login") Echo

        div(style="width:300px; height:200px; position:absolute; top:0; bottom:0; left:0; right:0; margin:auto;")
            form(name='loginForm' action='LoginHandler' method ='post' onsubmit="return validateForm()")
                p(class="is-size-4") Username
                input(type='text' name='username' id="username" class="input is-medium is-primary")
                p(class="is-size-4") Password
                input(type='password' name='password' id="password" class="input is-medium is-primary")
                br
                div(style="display:flex; align-items:center; justify-content:center; margin-top:8px;")
                    input(type='submit' value='Login' class="button is-primary is-medium")
                    div(style="width:24px; height:auto; display:inline-block;")
                    button(type='button' onclick="window.location.href='/SignUp'" value='Sign Up' class="button is-primary is-medium") Sign Up
