doctype html
html(lang='en')
    head
        link(rel="stylesheet" href="/css/mystyles.css")
        link(rel="stylesheet" href="/front-end-css/displayList.css")
        style @import url('https://fonts.googleapis.com/css?family=Monoton');
        script(type='text/javascript' src='/css/navMenu.js')
        title Display Dashboard
    body(class="has-navbar-fixed-top")
        nav(class="navbar is-fixed-top is-danger" role="navigation" aria-label="main navigation")
            div(class="navbar-brand")
                a(class="navbar-item" href="#")
                    label(style="font-family:'Monoton';") Echo

                a(role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navMenu")
                    span(aria-hidden="true")
                    span(aria-hidden="true")
                    span(aria-hidden="true")

            div(class="navbar-menu" id="navMenu")
                div(class="navbar-start")
                    a(class="navbar-item" href="#") Home

                div(class="navbar-end")
                    div(class="navbar-item")
                        div(class="buttons")
                            a(class="button is-danger" href="/Login")
                                strong Log Out

        div(style="margin:0 auto; width:500px; margin-top:16px;")
            h1(class="title is-2" style="text-align:center;") Displays
            div(style="width:500px; box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);")
                ul(style="list-style-type:none" class="is-size-5" id="myUL")
                    each n in displayName
                        li(style="text-align:center;")
                            a(href="ShowDisplay/?groupID=" + n._id) #{n.displayGroupName}
                    else
                        li No Display Groups