doctype html
html(lang='en')
    head
        link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/dropzone/5.5.1/dropzone.css")
        script(type='text/javascript' src="https://cdnjs.cloudflare.com/ajax/libs/dropzone/5.5.1/dropzone.js")
        script(type='text/javascript' src='front-end-javascript/EditDisplay.js')
        title Edit Display
    body
        div
            h1 #{groupName}
            form(action="/upLoadImageHandler?groupID=" + groupID name="userPhoto" method="post" class="dropzone" id="myAwesomeDropzone" enctype="multipart/form-data")
                div(class="fallback")
                    input(name="userPhoto" type="file" multiple)


            form(action="" method="post" name="updateImageInfo")
                ul(style="list-style-type:none")
                    each image in images
                        li
                            img(src="/userUpload/" + imagePath.basename(image.imagePath) alt=image.imageName style="width:150px;height=150px;")
                            span Start Time:
                            input(type="time" name="imageStartTime" value="00:00")
                            span End Time:
                            input(type="time" name="imageEndTime" value="23:59")
                            span Duration (seconds):
                            input(type="number" name="imageDuration" value="0" min="0")
                            button(type="submit" value="Delete Image" formaction="/deleteOneImageHandler?groupID=" + groupID + "&imageID=" + image._id) Delete Image

                    else
                        li No Images
                input(type="submit" value="Update")
                button(type="submit" value="Delete All" formaction="/deleteAllImageHandler?groupID=" + groupID) Delete All