doctype html
html(lang='en' style="background-color: #E0FFFF")
    head
        link(rel="stylesheet" href="/css/mystyles.css")
        link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css")
        link(rel="stylesheet" href="/front-end-css/displayList.css")
        style @import url('https://fonts.googleapis.com/css?family=Monoton');
        script(type='text/javascript' src='/css/navMenu.js')
        title Manager
    body(class="has-navbar-fixed-top")
        nav(class="navbar is-fixed-top is-primary" role="navigation" aria-label="main navigation")
            div(class="navbar-brand")
                a(class="navbar-item" href="#")
                    label(style="font-family:'Monoton';") Echo

                a(role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navMenu")
                    span(aria-hidden="true")
                    span(aria-hidden="true")
                    span(aria-hidden="true")

            div(class="navbar-menu" id="navMenu")
                div(class="navbar-start")
                    a(class="navbar-item" href="#") Home

                div(class="navbar-end")
                    div(class="navbar-item")
                        div(class="buttons")
                            a(class="button is-primary" href="/Login")
                                strong Log Out

        div(style="margin:0 auto; width:500px; margin-top:16px;")
            h1(class="title is-2" style="text-align:center;") Displays

            form(name='displayForm' action="/addDisplayGroup" method="post" id='displayForm')
                div(style="background-color:#fff; box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);")
                    div(class="field")
                        p(class="control has-icons-left")
                            input(type="text" class="input is-normal is-primary" id="myInput" placeholder="Search for display.." style="width:468px; margin-left:16px; margin-top:16px; margin-bottom:8px;")
                            span(class="icon is-small is-left" style="position:absolute; top:16px; left:16px;")
                                i(class="fa fa-search")
                    ul(style="list-style-type:none" class="is-size-5" id="myUL")
                        each n in displayName
                            li
                                a(href="EditDisplay?groupID="+n._id) #{n.displayGroupName}
                                button(type="submit" value="Delete Display Group" formaction="/deleteDisplayGroupHandler?groupID=" + n._id + "&displayName=" + n.displayGroupName class="delete is-medium has-background-danger" style="float:right; top:-38px; right:8px;")
                        else
                            li(style="margin:16px;") No Display Groups

                div(style="text-align:right; margin-top:16px;")
                    input(type="text" name="addDisplay" placeholder="Display Name" id="addDisplay" class="input is-normal is-primary" style="width:250px;")
                    div(style="width:8px; height:auto; display:inline-block;")
                    input(type="submit" value="Add Display" class="button is-primary")

        script(type='text/javascript' src='/front-end-javascript/ManagerDashboard.js')