doctype html
html(lang='en')
    head
        title Manager
    body
        div
            h1 Displays
            div(style="width:500px; height:500px;border:1px solid grey;")
                ul(style="list-style-type:none")
                    each n in displayName
                        li
                            a(href="EditDisplay/?groupID="+n._id) #{n.displayGroupName}
                    else
                        li No Display Groups
            form(name='displayForm' action="/addDisplayGroup" method="post")
                input(type="text" name="addDisplay" placeholder="Add Display" id="addDisplay")
                input(type="submit" value="Add Display")